@tailwind base;
@tailwind components;
@tailwind utilities;
.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #095a55;
}
.form{
	background: #095a55;
}